* {
    margin: 0;
    padding: 0;
}

.navigation {
    position: relative;
}

.navbar {
    position: fixed;
    width: 100%;
    height: 60px;
    background-color: rgba(80, 80, 80, .7);
    z-index: 1;
}

ul {
    list-style-type: none;
}

.navbar > ul li {
    float: right;
}

.navbar li a {
    text-decoration: none;
    text-align: center;
    display: block;
    padding: 19.5px 15px;
    color: white;
    font-family: Monaco, Lucida Console;
}

.navbar li a:hover {
    background-color: black;
    transition: .5s;
}

.logo {
    width: 60px;
    height: 60px;
    display: block;
    animation: pulse .7s 1;
}

.logo img {
    max-height: 100%;
    max-width: 100%;
    border-radius: 30px;
}

.logoOffset {
    width: 40px;
    height: 60px;
    float: right;
}

@media screen and (max-width: 720px) {
    .navbar > ul li {
        visibility: hidden;
    }
    .logo {
        margin-left: 45%;
    }
    nav .hamburger {
        display: block;
        visibility: visible;
    }
}

@media screen and (min-width: 720px) {
    .logo {
        float: left;
        margin-left: 25px;
    }
}

.first {
    position: relative;
    height: 1200px;
    background-image: url(11178g-red-and-blue-picture-in-hd.jpg);
    background-position: center;
    background-repeat: no-repeat;
}

.titlecontainer {
    position: absolute;
    margin-top: 120px;
    display: inline-block;
    background-color: rgba(200, 200, 200, .5);
}

.title {
    color: lightyellow;
    text-align: center;
}

.script {
    font-size: 7.9em;
    font-family: "Brush-Script-MT", cursive;
}

.slab {
    font-size: 7em;
    font-family: "Arial Black";
}


/****** Menu ******/

div.menu {
    position: relative;
    width: 35px;
    height: 25px;
    float: left;
    margin: 17px 0 0px 25px;
    cursor: pointer;
}

.hamburger {
    width: 85px;
    height: 100%;
    float: left;
    transition: .5s;
    visibility: hidden;
    display: none;
}

.hamburger:hover {
    background-color: black;
}

@media screen and (min-width: 720px) {
    div.menu {
        display: none;
    }
}

div.menu div.strokes {
    width: 100%;
    height: 3px;
    margin: 0 0 8px 0;
    background: white;
    transition: transform 0.3s, opacity 0.1s;
}

.hide {
    opacity: 0;
    transform: translateX(-42px);
}

.animate0 {
    transform: rotate(45deg) translateY(10px) translateX(9px);
}

.animate2 {
    transform: rotate(-45deg) translateY(-7px) translateX(5px);
}

.dropdown {
    background-color: rgba(80, 80, 80, .7);
    width: 150px;
    visibility: hidden;
    opacity: 0;
    transition: .3s;
}

.show {
    position: absolute;
    visibility: visible;
    opacity: 1;
    transition: .3s;
}

.dropdown ul li a {
    padding: .8em;
    float: none;
    display: block;
    text-align: left;
    border-top: 1px solid rgba(10, 10, 10, .2);
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(.8);
    }
    100% {
        transform: scale(1);
    }
}


/*    transition: .5s cubic-bezier(.8, .2, .2, .7);*/